/*base.css - 基本文字・レイアウト設定*/
/*文字色の設定(リセット後上書き)*/
:root{
    --color-base:#ffffff;   /*背景*/
    --color-text:#000000;   /*文字*/
    --color-border:#000000; /*ボーダー*/
    --color-gray:#efefef;   /*サブ背景、区切り*/
    --color-accent:#00c3f4; /*ポイントに使うアクセント*/

    /*グラデーション*/
    --gradient: linear-gradient(
        110deg,
        rgba(247,93,139,1),
        rgba(254,220,64,1)
        );

}
html{
    box-sizing: border-box;
    --webkit-text-size-adjust:100%;/*IOS自動文字拡大対策*/
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    background-color: var(--color-base);
    color: var(--color-text);
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: clamp(14px,1.6vw,18px);/*vwは画面に占める割合pxとは違うのでclampをつけて最低これ以上以下にならないと設定できスマホ対応に便利*/
    letter-spacing: 0.05em;
}
/*リンク設定(共通)*/
a{
    color: inherit;
    text-decoration: none;  /*下線なし*/
    transition: color 0.3s ease;    /*リンクのアニメーションをゆっくりに*/
}
/*画像メディア*/
img, video{
max-width: 100%;
height: auto;
display: block;
}
/*typography (clamp対応)*/
h1,h2,h3,h4,h5,h6{
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: var(--color-text);
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
h1{
    font-size: clamp(28px,4vw,48px);
    letter-spacing: clamp(0.05em,0.1vw,0.1em);
}
h2{
    font-size: clamp(22px,3vw,36px);
    letter-spacing: clamp(0.05em,0.1vw,0.1em);
}
h3{
    font-size: clamp(18px,2.5vw,28px);
    letter-spacing: clamp(0.05em,0.1vw,0.1em);
}
h4{
    font-size: clamp(16px,2vw,24px);
}

p,li{
    font-size: clamp(14px,1.6vw,18px);
    line-height: 1.8;
}
small{
    font-size: clamp(12px,1.2vw,14px);
    letter-spacing: 0.02em;
}
strong{
    font-weight: 700;
}

/*フォーム要素*/
button,input,select,textarea{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
}
/*utility (サイトのコンテンツの大きさ設定)*/
.container{
    max-width: 1200px;
    margin-inline: auto;
    margin-left: 15px;
    margin-right: 15px;
}   