/*ハンバーガメニュー*/

/*ハンバーガボタン*/
.hamburger{
    position: relative;
    z-index: 1100;
    width: 30px;
    height: 18px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hamburger span{
    display: block;
    height: 3px;
    background-color: var(--color-text);
    border-radius: 2px;
    transition: all 0.3s ease; /*ボタン押した際の挙動(三本線)*/
}
 .hamburger.active span:nth-child(1){
    transform: translateY(5.5px) rotate(45deg);
 }
 .hamburger.active span:nth-child(2){
    opacity: 0;
 }
 .hamburger.active span:nth-child(3){
    transform: translateY(-7.5px) rotate(-45deg);
 }
 .mobile-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-base);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease, opacity 0.3s ease; /*ボタン押した際の挙動(上ドロップ)*/
 }

 /*上スライド(ドロップ)※どちらか一つ*/
 .drawer-top{
   transform: translateY(-100%);
 }
 .drawer-top.active{
   transform: translateY(0);
   opacity: 1;
   pointer-events: auto;
 }
 /*上スライド(ドロップ)※どちらか一つ*/
 .drawer-right{
   transform: translateX(-100%);
 }
 .drawer-right.active{
   transform: translateX(0);
   opacity: 1;
   pointer-events: auto;
   
 }
