body{
    text-align: center;
    font-size: 30px;
}
input{
    font-size: 30px;
}
.block{
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-bottom: 10px;
    text-align: center;   /* 横中央 */
    line-height: 40px;    /* 高さと同じにする */
    padding: 0;

    
}
input[value="〇"]{
    color: red;
}
input[value="✕"]{
    color: blue;
}